*
{
    padding:0;
    margin:0;
    font-size: 100%;
    line-height: 1em;
}

body
{
background-color: #E6E7E8;
}

#title
{
width: 100%;
}


#personal-identity
{
width: 100%;
margin-top: -1%;
padding: 0;
}


blockquote

{
   font-family: 'baskerville'; 
    font-size: 50px;
    text-align: center;
    color: #5887B5;
    margin: 10% 20%;
}

.name
{
    font-family: 'baskerville'; 
    font-size: 20px;
    text-align: center;
    color: #5887B5; 
    font-style: italic;
}

.part1

{
    background-color: white;
    width: 100%;
}


h1

{
 font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    font-size: 35px;
    text-transform: uppercase;
    margin: 0% 0% 0% 0%;
    color: #5887B5;
    text-align: center;
    padding: 10% 0% 5% 0;
}

h2

{
 font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0% 0% 0% 0%;
    color: black;
    padding: 5% 0% 1% 20%;
    opacity: 0.5;
    
}

p

{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 200;
    font-size: 25px;
    margin: 0% 20% 0% 20%;
    color: #A8A8A8;
    line-height: 1.5em;
}

a.horoscope
{font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #A8A8A8;
    line-height: 1.5em;
    text-decoration: none;
}
a.horoscope:hover
{color: #494949;}


#title2

{
width: 100%;
}

ul

{
font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 200;
    font-size: 25px;
    margin: 0% 20% 0% 20%;
    color: #A8A8A8;
    line-height: 1.5em;
}

.oldchris
{

margin-left: 18%;
}

.logos
{
width: 50%;
margin-left: 25%;
}

.research
{
width: 50%;
margin-left: 25%;
}

.style-tile
{
width: 50%;
margin-left: 25%;
}

.menu { 
	width: 100%;
    opacity: 0.9;
	height: auto;
	position: fixed;
    min-width: auto;
	max-width: 600px;
    z-index: 100;
    padding: 0% 29%;
    background-image:  url(../images/title-img.jpg);
background-size: cover;
}
.menu ul 

    {
    list-style: none;
	display: block;
	margin: auto;
	list-style: none;
    width: 800px;
    margin: 0% 5%;
    padding: 10%;
    }

.menu li
    
    {
    color: #DBDADA;
    font-family:"Yanone Kaffeesatz";
    text-transform:uppercase;
    font-weight: 200;
    list-style: none;
    float:right;
    margin: 1% 2%;
    
    }
    
    .menu li a {
    
    color: #DBDADA;
    text-decoration: none;
    list-style: none;
    font-size: 30px;
        
    }
    
    .menu li a:hover { 
    color: #fff;
        
    }
.logo
{
width:20%;
margin-left: -25%;
padding-top: 0%;
position: absolute;
    
}